/* Style the navigation menu */
.topnav {
  visibility: hidden;
  position: sticky;
  width: 100vw;
  overflow: hidden;
  position: fixed;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  background-color: rgb(0, 112, 112);
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #1f6786;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #217498;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: rgb(0, 112, 112);
  color: white;
}


html, body{
    width: 100%;
    height: 100%;
    background-color: azure;
    color: aliceblue;
    text-align: center;
    font-family: Georgia, serif;
    margin: 0%;
    scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

.wrapper{
  background-image: url('../public/background4.png');
  display: grid;
  justify-items: center;
  align-items: stretch;
  align-content: space-between;
  justify-content: center;  
  width: 100%;
  left: 0%;
  position: sticky;
}

.intro{
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  justify-items: stretch;
}

.nav{
  display: grid;
  height: 100vh;
  width: 7vw;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: stretch;
  justify-items: stretch;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.circularImage{
  border-radius: 50%;
  margin-right: 5%;
  margin-left: 5%;
  transition-duration: 0.5s;
}

.circularImage:hover{
  transition-duration: 0.5s;
  transform: scale(1.15);
  background-color: #217498;
  cursor: default;
}


#navigation{
  position: fixed;
  background-color: rgb(0, 112, 112);
  left: 0%;
  display: inline-grid;
  float: left;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  align-content: stretch;
  align-items: space-evenly;
  justify-items: stretch;
  justify-content: stretch;
}


.nav li{
    display: inline-block;
    background-color: rgb(0, 112, 112);
    border-radius: 5%;
    padding: 14px 20px;
    padding-top: 80%;
    width: 7vw;
    
}

.nav li:hover{
  background-color: #217498;
  cursor: default;
}

.nav li div{
  height: 100%;
  width: 100%;
  color: azure;
  font-family: sans-serif;
  font-size: 0.9em;
  text-decoration: none;
}

.nav li div:hover{
  transition-duration: 0.25s;
  color: #217498;
}

h1:hover{
  transition-duration: 0.5s;
  transform: scale(1.02);
  background-color: #217498;
  cursor: default;
}

h2{
  transition-duration: 0.5s;
  font-family: Georgia, serif;
}

h2:hover{
  transition-duration: 0.5s;
  transform: scale(1.02);
  background-color: #217498;
  cursor: default;
}

.para{
  text-align: justify;
  font-size: large;
  transition-duration: 0.5s;
  transform: scale(1);
}

.para:hover{
  transition-duration: 0.5s;
  transform: scale(1.02);
  background-color: #217498;
  cursor: default;
}

.restOfEverything{
  background: rgba(0, 0, 0, 0.25);
  padding-left: 0.5%;
  padding-right: 0.5%;
  border-radius: 1%;
}

.everythingElse{
  margin-left: 7.2vw;
  padding: 1%;
}


.linearImage{
  margin-top: 1%;
  margin-bottom: 5%;
  transition-duration: 0.5s;
}

.linearImage:hover{
  transition-duration: 0.5s;
  transform: scale(1.02);
  background-color: #217498;
  cursor: default;
}


.inParagraphA{
  transition-duration: 0.25s;
  color: navajowhite;
}

.inParagraphA:visited{
  transition-duration: 0.25s;
  color: azure;
}

.inParagraphA:hover{
    padding: 2px 2px;
    background-color: #217498;
    transition-duration: 0.25s;
    border-radius: 5%;
    cursor: default;
}

.footer{
  font-size: 10px;
  padding-bottom: 4%;
  margin-top: 3%;
}

#footerP{
  text-align: center;
}

.comment{
  width: 50%;
}

.SubmitButton{
  margin-left: 5%;
  margin-right: 5%;
  color: peachpuff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  background: #217498;
  color: white;
  border-radius: 5%;
  padding: 7px 10px;
  margin-bottom: 4%;
  transition-duration: 0.5s;
}

.SubmitButton:hover{
  background-color: #217498;
  transform: scale(1.02);
}



.pulse-button {
  position: relative;
  top: 15%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 0.7em;
  font-weight: light;
  font-family: 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  letter-spacing: -1px;
  color: white;
  border: none;
  border-radius: 50%;
  background: #217498;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
  animation: pulse 1.5s infinite;
  transition-duration: 0.5s;
}
.pulse-button:hover {
  color: navajowhite;
  font-size: 0.9em;
  transition-duration: 0.5s;
}

span a{
  font-size: 0.7em;
  font-weight: light;
  text-decoration: none;
  color: azure;
}

span a:hover {
  
    color: navajowhite;
    font-size: 0.9em;
    transition-duration: 0.5s;

}

@keyframes pulse {
  0% {
    transform: scale(.9);
  }
  70% {
     transform: scale(1);
    box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
  }
    100% {
    transform: scale(.9);
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}


@media only screen and (max-width: 745px) {
  .nav{
    background-color: #225f7a;
    z-index: 10;
    height: 5.4vh;
    display: inline-flex;
    position: fixed;
    list-style-type: none;
    overflow: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav li{
    text-decoration: none;
    text-align: center;
    display: grid;
    background-color: #614051;
    border-radius: 5%;
    padding: 14px 20px;
    justify-items: stretch;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: baseline;
    transition-duration: 0.5s;
  }

  .nav li div {
    height: 100%;
    width: 100%;
    color: azure;
  }

  #navigation{
    display: none;
  }

  .topnav{
    visibility: visible;
  }

  .everythingElse{
    margin-left: 0%;
  }
}



@media only screen and (max-width: 558px){

  .nav li{
    margin-right: 1.5%;
    margin-left: 1.5%;
  }

}

@media only screen and (max-width: 492px){
  
    .nav li{
      margin-right: 0.8%;
      margin-left: 0.8%;
    }

    .nav li div{
      font-size: 0.7em;
    }
  
  }
  