html, body{
    width: 100%;
    height: 100%;
    background-color: azure;
    color: #614051;
    text-align: center;
    font-family: Georgia, serif;
}

.wrapper{
    margin-left: 10%;
    width: 80%;    
}

h2{
  transition-duration: 0.5s;
  font-family: Georgia, serif;
}

h2:hover{
  transition-duration: 0.5s;
  transform: scale(1.02)
}

.para{
  text-align: justify;
  font-size: large;
  transition-duration: 0.5s;
  transform: scale(1);
}

.para:hover{
  transition-duration: 0.5s;
  transform: scale(1.02);
}

.circularImage{
    margin-top: 1%;
    border-radius: 50%;
    margin-right: 5%;
    margin-left: 5%;
    transition-duration: 0.5s;
}

.circularImage:hover{
  transition-duration: 0.5s;
  transform: scale(1.15);
}

.linearImage{
    margin-top: 1%;
    margin-bottom: 5%;
    transition-duration: 0.5s;
}

.linearImage:hover{
  transition-duration: 0.5s;
  transform: scale(1.02)
}


.nav{
    position: relative;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.nav li{
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background-color: #614051;
    border-radius: 5%;
    padding: 14px 20px;
    margin-bottom: 4%;
    transition-duration: 0.5s;
}

.inParagraphA{
  transition-duration: 0.25s;
  color: #614051;
}

.inParagraphA:visited{
  transition-duration: 0.25s;
  color: #614051;
}

.inParagraphA:hover{
    padding: 2px 2px;
    background-color: #217498;
    color: azure;
    transition-duration: 0.25s;
    border-radius: 5%;
}

.nav li:hover{
    background-color: #217498;
    font-size: 18px;
    transition-duration: 0.5s;
}

.nav li a{
    height: 100%;
    width: 100%;
    color: azure;
}

.footer{
  font-size: 10px;
  padding-bottom: 4%;
  margin-top: 3%;
}

@media only screen and (max-width: 1168px) {
    .nav li {
      margin-left: 4%;
      margin-right: 4%;
    }
  }

  @media only screen and (max-width: 1067px) {
    h1{
        font-size: 25px;
    }
  }

  
@media only screen and (max-width: 1000px) {
    .nav li {
      margin-left: 3%;
      margin-right: 3%;
    }
  }

  @media only screen and (max-width: 837px) {
    .nav li {
      margin-left: 2%;
      margin-right: 2%;
    }
  }

  @media only screen and (max-width: 727px) {
    .nav li {
      margin-left: 1%;
      margin-right: 1%;
    }
  }

  @media only screen and (max-width: 651px) {
    .nav li {
      margin-left: 0.5%;
      margin-right: 0.5%;
    }
  }

  @media only screen and (max-width: 615px) {
    .nav li {
      margin-left: 0.25%;
      margin-right: 0.25%;
    }
  }

  @media only screen and (max-width: 599px) {
    .nav li {
      font-size: 11px; 
      margin-left: 0.5%;
      margin-right: 0.5%; 
      padding: 7px 10px;
    }

    h1{
        font-size: 20px;
    }
  }

